@charset "UTF-8";
@import url(reset.css);
body, html {
  font-size: 14px;
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
  min-width: 320px; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F4F4F4; }

.header {
  height: .35rem;
  background: #FF8201;
  text-align: center;
  line-height: .35rem;
  position: relative; }
  .header span {
    font-size: .16rem;
    color: #fff; }
  .header a {
    position: absolute;
    right: .1rem;
    color: #fff; }

section {
  overflow-y: auto;
  flex-grow: 1; }
  section .box {
    width: 100%;
    margin-top: .2rem;
    background: #f4f4f4; }
    section .box .box-menu, section .box .box-menus {
      width: 100%;
      height: 1.4rem;
      background: white;
      margin-top: .2rem; }
      section .box .box-menu .box-nav, section .box .box-menus .box-nav {
        width: 100%;
        height: .45rem;
        border-bottom: 1px solid #dcdcdc;
        display: flex;
        position: relative;
        line-height: .59rem; }
        section .box .box-menu .box-nav input, section .box .box-menus .box-nav input {
          display: none; }
        section .box .box-menu .box-nav label, section .box .box-menus .box-nav label {
          display: inline-block;
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid #ccc;
          top: 15px;
          left: 10px; }
        section .box .box-menu .box-nav input:checked + label, section .box .box-menus .box-nav input:checked + label {
          background: #ff5000; }
        section .box .box-menu .box-nav span, section .box .box-menus .box-nav span {
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          background: url(../images/icon1_03.jpg) no-repeat;
          background-size: 100% 100%;
          top: 16px;
          left: 35px; }
        section .box .box-menu .box-nav a, section .box .box-menus .box-nav a {
          position: absolute;
          font-size: 10px;
          color: #343a3d;
          top: 8px;
          left: 60px;
          line-height: 34px; }
        section .box .box-menu .box-nav b, section .box .box-menus .box-nav b {
          margin-left: .05rem;
          color: #c0c0c0; }
      section .box .box-menu .box-cont, section .box .box-menus .box-cont {
        position: relative;
        background: #fff; }
        section .box .box-menu .box-cont input, section .box .box-menus .box-cont input {
          display: none; }
        section .box .box-menu .box-cont .money, section .box .box-menus .box-cont .money {
          color: orange; }
        section .box .box-menu .box-cont label, section .box .box-menus .box-cont label {
          display: inline-block;
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid #ccc;
          top: 15px;
          left: 10px; }
        section .box .box-menu .box-cont input:checked + label, section .box .box-menus .box-cont input:checked + label {
          background: #ff5000; }
        section .box .box-menu .box-cont dl, section .box .box-menus .box-cont dl {
          width: 90%;
          display: flex;
          margin-left: 10%; }
          section .box .box-menu .box-cont dl dt, section .box .box-menus .box-cont dl dt {
            width: .6rem;
            height: .6rem;
            margin-top: .15rem; }
            section .box .box-menu .box-cont dl dt img, section .box .box-menus .box-cont dl dt img {
              width: 100%;
              height: 100%; }
          section .box .box-menu .box-cont dl dd, section .box .box-menus .box-cont dl dd {
            width: 100%;
            margin-left: .1rem;
            font-size: .14rem;
            margin-top: .1rem; }
            section .box .box-menu .box-cont dl dd .con, section .box .box-menus .box-cont dl dd .con {
              margin-top: .1rem; }
              section .box .box-menu .box-cont dl dd .con b, section .box .box-menus .box-cont dl dd .con b {
                float: right;
                margin-right: .1rem;
                color: #989898;
                font-size: .12rem;
                font-weight: normal; }

.footer {
  width: 100%;
  height: .9rem; }
  .footer .footer-top {
    width: 100%;
    height: 44px;
    border-top: 1px solid #dcdcdc;
    background: white;
    display: flex;
    position: relative; }
    .footer .footer-top input {
      display: none; }
    .footer .footer-top label {
      display: inline-block;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #ccc;
      top: 12px;
      left: 10px; }
    .footer .footer-top input:checked + label {
      background: #ff5000; }
    .footer .footer-top > span {
      display: inline-block;
      font-size: 13px;
      color: black;
      padding-left: 30px;
      line-height: 42px;
      font-weight: bold; }
    .footer .footer-top a {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 42px;
      background: #ff5000;
      right: 0;
      color: white;
      line-height: 42px;
      text-align: center;
      font-size: 13px;
      margin-top: .01rem; }
    .footer .footer-top h5 {
      position: absolute;
      right: 90px;
      line-height: 42px; }
      .footer .footer-top h5 > span {
        color: #ff5000;
        padding-right: 10px; }
  .footer .footer-bot {
    width: 100%;
    height: 44px;
    border-top: 1px solid #dcdcdc;
    background: white;
    display: flex;
    justify-content: space-around; }
    .footer .footer-bot dl {
      width: 20%;
      height: .44rem;
      text-align: center; }
      .footer .footer-bot dl dt {
        margin-top: .02rem; }
      .footer .footer-bot dl dd {
        font-size: .12rem;
        margin-top: .02rem; }

/*# sourceMappingURL=style.css.map */
