<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">	<meta name="format-detection" content="telephone=no,email=no,address=no">	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="icon-fonts/iconfont.css">
</head>
<body>
	<div id="wrap" class="wrap">
		<header class="header">
			<span>购物车(102)</span>
			<a href="#">编辑</a>
		</header>
		<section id="app">
        <div class='box'>
            <div class='box-menu'  v-for="i in dataBase">
                <div class='box-nav'>
                    <input id="nav" type="checkbox">
			        <label for="nav"></label>
                    <span><img src="" alt=""></span>
                    <a href="#">{{i.shopName}}<b>></b></a>
                </div>
                <div class='box-cont' v-for="item in i.conts">
                    <input id="cont" type="checkbox">
			        <label for="cont"></label>
                    <dl>
                        <dt><img v-bind:src="item.img" alt=""></dt>
                        <dd>
                            <p>{{item.info}}</p>
                            <p class='con'><span class="money">￥{{item.price}}</span><span> {{item.heavy}}</span> <b>x<span>{{item.num}}</span></b></p>
                        </dd>
                    </dl>
                </div>
            </div>          
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footer-top">
                <input id="big" type="checkbox">
			    <label for="big"></label>
                <span>全选</span>
			    <h5>合计：<span>￥0.00</span>不含运费</h5>
			    <a href="#">结算(0)</a>
            </div>
            <div class="footer-bot">
                <dl>
                    <dt><i class="iconfont">&#xe6cd;</i></dt>
                    <dd>首页</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe612;</i></dt>
                    <dd>微淘</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe60e;</i></dt>
                    <dd>信息</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe63c;</i></dt>
                    <dd>购物车</dd>
                </dl>
                <dl>
                    <dt><i class="iconfont">&#xe6cc;</i></dt>
                    <dd>我的淘宝</dd>
                </dl>
            </div>
        </div>
    </footer>
	</div>
	<script src="js/swiper.min.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/iscroll.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/vue.js"></script>
	<script>
		document.documentElement.style.fontSize = window.innerWidth/320*100+'px';
		var vm = new Vue({
			el:'#wrap',
			data:{
				dataBase:""
			},
			created:function(){
				var _me = this;
				$.ajax({
					url:'http://localhost:8081/list',
					method:'GET',
					success:function(data){
						_me.dataBase = data
						console.log(_me.dataBase)
					}
				})
			}
		})
		console.log()
	</script>
</body>
</html>